In [1]:
import pickle

with open('../data/processed/train-processed-v4.pkl', 'rb') as f:
    train = pickle.load(f)
    
with open('../data/processed/test-processed-v4.pkl', 'rb') as f:
    test = pickle.load(f)
    
train.columns.to_numpy()

array(['Fuel Consumption City (l/100km)',
       'Fuel Consumption Hwy (l/100km)',
       'Fuel Consumption Comb (l/100km)', 'Engine Size(L)', 'Cylinders',
       'Id', 'Make', 'Vehicle Class', 'Transmission', 'Fuel Type',
       'CO2 Emissions(g/km)'], dtype=object)

In [2]:
train.dtypes

Fuel Consumption City (l/100km)    float64
Fuel Consumption Hwy (l/100km)     float64
Fuel Consumption Comb (l/100km)    float64
Engine Size(L)                     float64
Cylinders                          float64
Id                                   int64
Make                               float64
Vehicle Class                      float64
Transmission                       float64
Fuel Type                          float64
CO2 Emissions(g/km)                float64
dtype: object

In [3]:
total_data = len(train) + len(test)
train_test_ratio = (len(test) / total_data) * 100

print(f'Total number of data points: {total_data}')
print(f'Number of data points in training set: {len(train)}')
print(f'Number of data points in test set: {len(test)}')
print(f'Ratio of train to test data: {train_test_ratio:.2f}%')

Total number of data points: 78482
Number of data points in training set: 54937
Number of data points in test set: 23545
Ratio of train to test data: 30.00%

In [4]:
print(f'Train shape: {train.shape}')
print(f'Test shape: {test.shape}')

Train shape: (54937, 11)
Test shape: (23545, 10)

In [5]:
train.head()

,Fuel Consumption City (l/100km),Fuel Consumption Hwy (l/100km),Fuel Consumption Comb (l/100km),Engine Size(L),Cylinders,Id,Make,Vehicle Class,Transmission,Fuel Type,CO2 Emissions(g/km)
0,0.710439,1.589749,0.625417,-1.194897,-0.816938,1,16.0,11.0,21.0,3.0,208.0
1,1.007912,-1.208539,-1.205922,1.062403,0.526630,2,20.0,5.0,2.0,3.0,325.0
2,0.442528,0.252161,0.388395,-0.743437,-0.816938,3,15.0,0.0,13.0,3.0,170.0
3,-0.254350,-1.212116,-1.208809,2.570279,1.870199,4,4.0,15.0,3.0,3.0,362.0
4,-1.145488,0.373973,-1.198461,-0.924021,-0.816938,5,20.0,0.0,23.0,3.0,180.0

In [6]:
# Bagi data menjadi fitur dan target
X_train = train.drop(['CO2 Emissions(g/km)'], axis=1)
y_train = train['CO2 Emissions(g/km)']

X_test = test.copy()

In [7]:
from xgboost import XGBRegressor

params_xgb = {
    'objective': 'reg:squarederror',  # Specify the objective for regression tasks
    'colsample_bytree': 0.8,          # Fraction of features to be randomly sampled for each tree
    'learning_rate': 0.08,             # Step size shrinkage to prevent overfitting
    'max_depth': 128,                  # Maximum depth of a tree
    'alpha': 10,                      # L1 regularization term on weights
    'n_estimators': 10000,             # Number of boosting rounds
    'random_state': 472389
}

model_xgb = XGBRegressor(**params_xgb)

model_xgb.fit(X_train, y_train)
y_pred = model_xgb.predict(X_test)

ValueError: feature_names mismatch: ['Fuel Consumption City (l/100km)', 'Fuel Consumption Hwy (l/100km)', 'Fuel Consumption Comb (l/100km)', 'Engine Size(L)', 'Cylinders', 'Id', 'Make', 'Vehicle Class', 'Transmission', 'Fuel Type'] ['Fuel Consumption City (l/100km)', 'Engine Size(L)', 'Cylinders', 'Fuel Consumption Hwy (l/100km)', 'Fuel Consumption Comb (l/100km)', 'Id', 'Make', 'Vehicle Class', 'Transmission', 'Fuel Type']

In [ ]:
test

,Fuel Consumption City (l/100km),Fuel Consumption Hwy (l/100km),Fuel Consumption Comb (l/100km),Engine Size(L),Cylinders,Id,Make,Vehicle Class,Transmission,Fuel Type
0,0.920593,-0.865100,0.283683,0.748470,0.325779,137142,3,2.0,15.0,3.0
1,-0.910920,-0.939220,1.495285,0.846481,0.608439,137143,7,15.0,13.0,3.0
2,1.964239,0.589944,1.498660,-0.329646,-0.522202,137144,16,11.0,19.0,3.0
3,-0.216649,1.428867,-1.017581,1.728575,1.456420,137145,14,2.0,15.0,4.0
4,-0.258921,1.915538,-1.021649,1.532554,2.021740,137146,2,12.0,15.0,4.0
...,...,...,...,...,...,...,...,...,...,...
58771,1.241548,-0.233801,-0.311042,0.454439,-0.239542,195913,11,11.0,3.0,3.0
58772,-0.188727,0.037745,-0.137411,-1.211740,-0.804862,195914,7,9.2,13.0,3.0
58773,0.787471,0.696299,0.775921,0.650460,0.891099,195915,4,12.0,3.0,3.0
58774,0.073664,-0.262323,-0.091855,2.120617,2.021740,195916,7,6.2,13.0,3.0
58775,1.420951,-0.921756,0.509468,0.650460,0.608439,195917,0,11.0,16.0,4.0

In [ ]:
submission_3 = test.loc[:, ["Id"]]

submission_3['CO2 Emissions(g/km)'] = y_pred

In [ ]:
submission_3

           Id  CO2 Emissions(g/km)
0      137142           242.520065
1      137143           347.479736
2      137144           211.449829
3      137145           285.716339
4      137146           314.794312
...       ...                  ...
58771  195913           265.171692
58772  195914           200.791443
58773  195915           298.636536
58774  195916           300.951630
58775  195917           256.270264

[58776 rows x 2 columns]

In [ ]:
import os

if not os.path.exists('../data/submission'):
    os.makedirs('../data/submission')

submission_3.to_csv('../data/submission/submission_6.csv', index=False)